<form [formGroup]="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      formControlName="Email"
      placeholder="Enter email"
    />
    <div class="alert alert-danger" *ngIf="emails?.invalid && emails?.touched">
      Error Email
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Password address</label>
    <input
      type="password"
      class="form-control"
      formControlName="Password"
      placeholder="Enter Password"
    />
    <div
      class="alert alert-danger"
      *ngIf="Passwords?.invalid && Passwords?.touched"
    >
      Error !!!!!!!!!!!!!!!!!!!!!!!!!
    </div>
  </div>
</form>

<button type="submit" class="btn btn-primary">Submit</button>
